{% extends "base.html" %}

{% block content %}
	<p>Když jsi kamarád, tak pojď si s námi hrát.</p>
	<p>Když jsi kamarád, tak pojď si s námi hrát.</p>
	<p>Když jsi kamarád, tak budu rád, když si s námi půjdeš hrát, a my tě budeme dobývat.</p>
	<h2>Přihlášení</h2>
	<form action="/login" method="POST">
		<p title="Co ty jsi za člověka">Jméno</p>
		<select name="player">
			{% for i in range(players|length) %}
				<option value="{{i}}" {{"selected" if i==playing else ""}}>{{settings.players[i]}}</option>
			{% endfor %}
		</select><br/>
		<p title="Bezpečnost především">Heslo</p>
		<input type="password" name="pw" required autocomplete autofocus/><br/>
		<input type="submit" value="Přihlásit se">
	</form>
{% endblock %}